<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2021-12-15T08:23:32Z</date>
	<key>WorkspacePath</key>
	<string>../../02_Day_two_Recursion.xcodeproj</string>
</dict>
</plist>
