<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2021-10-22T14:54:00Z</date>
	<key>WorkspacePath</key>
	<string>/Users/seludeft/gits/MMMMUH21/02 Stukturerad programmering C, C plusplus/11_Awesome_adventures/11_Awesome_adventures.xcodeproj</string>
</dict>
</plist>
